body {
  background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.24" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
  font-family: sans-serif;
  color: black;
  background:black;
  text-align: center;
  
}

h2 {
  color:blue
}

span {
  color:red
}

hr {
  height: 7.5px;
    border-width: 0;
    background-color: white;
    
}

h1 {
  color: white
}

h5 {
  color: white
}

a {
  color: lime
}
label {
  color: white
}
